.main-loader {
  position: fixed;
  inset: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  background: white;
  animation: fadeOut 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
  animation-delay: 0.6s;
  z-index: 99999;
}

.animate-in {
  animation: fadeIn 0.6s cubic-bezier(0.4, 0, 0.2, 1) forwards;
}

.main-loader svg {
  width: 95px;
  height: 95px;
}

.main-loader circle {
  fill: none;
  stroke: url(#grad);
  stroke-width: 1.6;
  stroke-linecap: round;

  stroke-dasharray: 440;
  stroke-dashoffset: 440;

  animation:
    draw 0.5s cubic-bezier(0.4, 0, 0.2, 1) forwards,
    subtleShift 2s linear infinite;
}

@keyframes draw {
  to {
    stroke-dashoffset: 0;
  }
}

@keyframes subtleShift {
  0% {
    filter: brightness(1);
  }
  50% {
    filter: brightness(1.08);
  }
  100% {
    filter: brightness(1);
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: scale(0.8);
  }
  to {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes fadeOut {
  to {
    opacity: 0;
    transform: scale(1.1);
  }
}
